<footer class="site-footer">
  <div class="footer-col-wrapper">
    <div class="footer-logos">
      <img class="sil-logo" src="{{ site.baseurl }}/assets/img/SIL-Logo-Animation_white.gif" alt="Service Innovation Lab logo">
      <img class="govt-logo" src="{{ site.baseurl }}/assets/img/AoG_logo_footer.png" alt="NZ Government logo">
      <div class="username-github"><strong>Service Innovation Lab GitHub: </strong><a href="https://github.com/ServiceInnovationLab">https://github.com/ServiceInnovationLab</a></div>
      <img class="cc-logo" src="{{ site.baseurl }}/assets/img/cc_icons.png" alt="Creative Commons 4.0 International Licence" width="85" height="40">
    </div>
    <p class="licence" role="contentinfo">Unless indicated otherwise, all content on<span property="http://purl.org/dc/terms/title" role="contentinfo">Govt.nz</span> is licensed for re-use under a <a href="https://creativecommons.org/licenses/by/4.0/" rel="external" class="external">Creative Commons 4.0 International Licence. <img class="arrow-out" src="{{ site.baseurl }}/assets/img/external-link.svg" width="16" height="16" alt="Clickable link out to the Creative Commons site"></a></p>
    </p>
  </div>
</footer>
