.footer-col-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  // padding-right: $spacing-unit;
  // padding-left: $spacing-unit;
  @extend %clearfix;
  color: $color-lightest;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .SIL-logo {
      height: 63px;
      width: 130px;
      padding: 0 5px 0 0;
    }

    .govt-logo {
      height: 17px;
      width: 170px;
    }
  }
}

.footer-logos {
  display: flex;
  width: 200px;
}

.sil-logo {
  padding: 0 10px 0 0;

  flex-shrink: 1;
}

.govt-logo {
  height: 21px;
  padding: 10px 20px 10px 0;
}

.username-github {
  display: inline-block;
  font-size: 12px;
  padding-right: 20px;

  a {
    color: $color-lightest;
  }
}

.cc-logo {
  padding: 0 0 10px 0;
}

.licence {
  color: $color-lightest;
  font-size: 13px;
  padding: 10px 0 0 0;

  a {
    color: $color-lightest;
  }
}
