---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$color-primary: #0071bc !default;
$color-primary-darker: #205493 !default;
$color-primary-darkest: #112e51 !default;

// Color
$color-light: #b3efff; // $color-light / $color-secondary-light
$color-lightest: #feffff;
$color-bright: #223cc6; //#00cfff; // $color-bright / $color-secondary // Underline for Navbar
$color-medium: #223cc6; //#046b99; // $color-medium / $color-primary
$color-dark: #1c304a; // $color-dark / $color-primary-dark
$color-base: #1f2e4a;
$color-black: #000000;
$color-inverse: #ffffff;
$color-super-light: #fafafa;

$color-bright-hover: #00a7ce;
$color-medium-hover: #bbbbbb; //#00547A

$color-gray: #DEDEDE;
$color-gray-lightest: #f1f1f1; // Adding bc used in our $border-light in this file.
$color-gray-hover: #fafafa; // Button hover
$color-gray-divider: #bbbbbb;

// Import partials from the `minima` theme.
@import "minima";
@import "typography";
@import "explanation";
@import "disclaimer";
@import "matrix";
@import "footer";
